# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# IDE Files
# =========================
.idea/
.vscode/

# =========================
# Selenium / Automation Reports
# =========================
reports/
allure-results/
allure-report/
test-output/
screenshots/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Pytest Cache
# =========================
.pytest_cache/

# =========================
# Coverage Reports
# =========================
.coverage
htmlcov/

# =========================
# Build Files
# =========================
dist/
build/
*.egg-info/

# =========================
# Backup Files
# =========================
*~