# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
Lib/
Scripts/
pyvenv.cfg

# IDE files
.idea/
.vscode/

# Reports
reports/
allure-results/
allure-report/

# Logs
*.log

# Backup files
.gitignore~